@model MainViewModel
@inject IAppCodeProvider codeProvider
@inject ICurrentUser currentUser
@inject IAppVersion appVersion
@inject IConfiguration config

@{
	IUserLocale userLocale = currentUser.Locale;
	String minify = Model?.Minify ?? String.Empty;
}

<!DOCTYPE html>
<!--
A2v10 platform.
Copyright © 2015-2025 Oleksandr Kukhtin. All rights reserved.
Site: https://a2v10.com
GitHub: https://github.com/alex-kukhtin/A2v10.Core
-->
<html lang="@userLocale.Language">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="google" content="notranslate" />
	<meta name="helpUrl" content="@Model?.HelpUrl" />
	<meta name="rootUrl" content="" />
	<title></title>
	@Html.Raw(Model?.Theme)
	@Html.Raw(await codeProvider.LayoutStyles())
	@Html.Raw(codeProvider.AppStyleSheetsLink())
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
	@Html.Raw(Model?.ModelStyles)
</head>
<body>
	@RenderBody()
	<script type="text/javascript" src="/scripts/vue.@Html.Raw(minify)js?v=2.7.16"></script>
	<script type="text/javascript" src="/scripts/signalr.min.js?v=8.0.7"></script>
	<script type="text/javascript" src="/scripts/locale-@Html.Raw(userLocale.Language + ".min.js")?v=@appVersion.AppBuild"></script>
	@Html.Raw(config.SwitchLocale())
	<script type="text/javascript" src="/scripts/tabmain.@Html.Raw(minify)js?v=@appVersion.AppBuild"></script>
	<script type="text/javascript" src="/scripts/tabbedsp.@Html.Raw(minify)js?v=@appVersion.AppBuild"></script>
	@Html.Raw(await codeProvider.LayoutScripts())
	@Html.Raw(codeProvider.AppScriptsLink())
	@Html.Raw(Model?.ModelScripts)
	<script type="text/javascript" src="/_shell/scriptsp"></script>
</body>
</html>
