@model ErrorViewModel
@inject IApplicationTheme appTheme
@inject ICurrentUser currentUser
@inject IAppVersion appVersion

@{
	IUserLocale userLocale = currentUser.Locale;
	String minify = Model?.Minify ?? String.Empty;
	var logoUrl = appTheme.LogoUrl();
	var hasLogo = !String.IsNullOrEmpty(logoUrl);
}

<!DOCTYPE html>
<!--
A2v10 platform.
Copyright © 2015-2025 Oleksandr Kukhtin. All rights reserved.
Site: https://a2v10.com
GitHub: https://github.com/alex-kukhtin/A2v10.Core
-->
<html lang="@userLocale.Language">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="google" content="notranslate" />
	<meta name="rootUrl" content="" />
	<title></title>
	@Html.Raw(Model?.Theme)
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
</head>
<body>
	<div id="app" class="shell login-shell">
		<header class="header">
			<a class="h-block" href="/">
				@if (hasLogo)
				{
					<div class="app-logo"><img src="@logoUrl" /></div>
				}
				else
				{
					<span class=app-title>@Model?.AppTitle</span>
					<span class=app-subtitle></span>
				}
			</a>
		</header>
		<div class="main-view">
			<div class="content-view full-view">
				@RenderBody()
			</div>
		</div>
		<footer class=footer style="padding-right:8px">
			<div class=divider></div>
			<span>
				<a target=_blank tabindex="-1" href="https://a2v10.com"><i class="ico ico-a2logo a2logo-layout"></i></a>
				<span>version</span>&nbsp;
				<span>@appVersion.AppVersion</span>
			</span>
		</footer>
	</div>
</body>
</html>
