@model ConfirmCodeViewModel
@inject ILocalizer _loc

<div class="center-page">
	<div class="initial-form">
		<h3 class="a2-header text-center">@Html.Raw(_loc["RegisterPrompt"])</h3>
		<hr />
		<div v-if="serverError" class="validation-summary" style="margin-top:10px">
			<span class="error" v-text="serverError"></span>
		</div>
		<div>
			<p>@Html.Raw(_loc["ConfirmRegister"]?.Replace("{0}", Model.Email))</p>

			<div class="control-group" style="width:15rem;margin:auto" v-bind:class="{invalid: invalidCode}">
				<label class="a2-label required">@Html.Raw(_loc["ConfirmCode"])</label>
				<div class="input-group">
					<input v-focus class="control text-center" type="text" v-model="confirmCode" tabindex="1" spellcheck="false" />
					<div class="validator" v-if="invalidCode">
						<span class="error">@Html.Raw(_loc["EnterConfirmCode"])</span>
					</div>
				</div>
			</div>

			<button v-on:click.stop.prevent="submitCode" class="btn btn-default" v_bind:disabled="confirmCodeDisabled">@Html.Raw(_loc["Continue"])</button>
		</div>

		<a tabindex="3" href="/" class="a2-hyperlink">@Html.Raw(_loc["Login"])</a>
	</div>
</div>

@section Scripts
{
<script type="text/javascript">
	@Html.Partial("~/Views/Account/ConfirmCodeScript.cshtml")
</script>
}