
@model SimpleIdentityViewModel
@inject ILocalizer _loc

<div class="center-page">
	<div class="initial-form">
		<h3 class="a2-header text-center">@Html.Raw(_loc["ForgotPrompt"])</h3>
		<hr />
		<div v-if="serverError" class="validation-summary" style="margin-top:10px">
			<span class="error" v-text="serverError"></span>
		</div>
		<div v-if="emailVisible">
			<div class="control-group" v-bind:class="{invalid: invalidEmail}">
				<label class="a2-label required">@Html.Raw(_loc["Email"])</label>
				<div class="input-group">
					<input v-focus class="control" type="text" v-model="email" tabindex="1" spellcheck="false" name="email" />
					<div class="validator">
						<span class="error" v-text="emailError"></span>
					</div>
				</div>
			</div>
			<button v-on:click.stop.prevent="sendMail" class="btn btn-default" tabindex="2">@Html.Raw(_loc["Continue"])</button>
		</div>
		<div v-if="codeVisible">
			<p v-text="confirmText"></p>

			<div class="control-group bold" v-bind:class="{invalid: invalidCode}" style="width:15rem;margin:0 auto;">
				<label class="a2-label required">@Html.Raw(_loc["ConfirmCode"])</label>
				<div class="input-group">
					<input v-focus class="control text-center" type="text" v-model="code" tabindex="4" spellcheck="false" id="confirm-code" />
					<div class="validator">
						<span class="error">@Html.Raw(_loc["EnterConfirmCode"])</span>
					</div>
				</div>
			</div>

			<button v-on:click.stop.prevent="submitCode" class="btn btn-default" tabindex="5"
			v_bind:disabled="confirmCodeDisabled">@Html.Raw(_loc["Continue"])</button>
		</div>

		<div v-if="passwordVisible">
			<div class="control-group">
				<label class="a2-label">@Html.Raw(_loc["Email"])</label>
				<div class="input-group static">
					<span class="static-input" v-text="email" />
				</div>
			</div>
			<div class="control-group" v-bind:class="{invalid: invalidPassword}">
				<label class="a2-label required" >@Html.Raw(_loc["Password"])</label>
				<div class="input-group">
					<input class="control" v-focus type="password" v-model="password" tabindex="6" autocomplete="off"
						   id="password" />
					<div class="validator">
						<span class="error" v-text="passwordError"></span>
					</div>
				</div>
			</div>
			<div class="control-group" v-bind:class="{invalid: invalidConfirm}">
				<label class="a2-label required">@Html.Raw(_loc["Confirm"])</label>
				<div class="input-group">
					<input class="control" v-focus type="password" v-model="confirm" autocomplete="off"
						   tabindex="7" title="@Html.Raw(_loc["PasswordTip"])" />
					<div class="validator">
						<span class="error" v-text="submitError"></span>
					</div>
				</div>
			</div>
			<button v-on:click.stop.prevent="submitReset" tabindex="8" class="btn btn-default">@Html.Raw(_loc["ResetPassword"])</button>
		</div>
		<a tabindex="3" href="/" class="a2-hyperlink">@Html.Raw(_loc["Login"])</a>
	</div>
</div>

@section Scripts
{
<script type="text/javascript">
	@Html.Partial("~/Views/Account/ForgotPasswordScript.cshtml")
</script>
}