@{
	Layout = "_Layout.admin";
}
@model MainViewModel
@inject ILocalizer localizer
@inject IApplicationHost host

<div id="shell" class="shell shell-admin @(Model.Debug ? "debug" : "release")">
	<header class="header">
		<div class="h-block">
			<a class="app-title" href='/admin' v-on:click.prevent="root" tabindex="-1"><span v-text="title"></span></a>
			<span class="app-subtitle" v-text="subtitle"></span>
		</div>
		<div class="aligner"></div>
		<a class="nav-admin" href="/" tabindex="-1" aria-label="Exit admin mode"><i class="ico ico-gear-outline"></i></a>
		<div class="dropdown dir-down" v-dropdown>
			<button class="btn user-name" toggle title="@Model.PersonName"><i class="ico ico-user"></i> <span id="layout-person-name" class="person-name">@Model.PersonName</span><span class="caret"></span></button>
			<div class="dropdown-menu menu down-left">
				<a v-on:click.prevent="profile" tabindex="-1" class="dropdown-item"><i class="ico ico-user"></i>@localizer.Localize(null, "@[Profile]")</a>
				<a v-on:click.prevent="changePassword" class="dropdown-item" tabindex="-1"><i class="ico ico-lock"></i> @localizer.Localize(null, "@[ChangePassword]")</a>
				<div class="divider"></div>
				<form id="logoutForm" method="post" action="/account/logoff">
					<a href="javascript:document.getElementById('logoutForm').submit()" class="dropdown-item" tabindex="-1"><i class="ico ico-exit"></i> @localizer.Localize(null, "@[Quit]")</a>
				</form>
			</div>
		</div>
	</header>
	<a2-main-view :menu="menu"></a2-main-view>
	<a2-debug :model-stack="modelStack" :model-visible="debugShowModel"
			  :trace-visible="debugShowTrace" :counter="dataCounter" :close="debugClose"></a2-debug>
	<footer class="footer">
		<div :class="{spinner: true, active:processing}"></div>

		<span class="divider"></span>

		<a href="/app/about" v-on:click.prevent="about" tabindex="-1">@localizer.Localize(null, "@[About]")</a>


		<span class="divider"></span>

		<span class="version-info">
			@localizer.Localize(null, "@[Version]") <span v-text="version"></span>
		</span>

		<div class="debug-btn dropdown dir-up" v-dropdown>
			<button class="btn btn-debug" toggle>@localizer.Localize(null, "@[Debug]")<span class="caret up"></span></button>
			<div class="dropdown-menu menu up-left">
				<a v-on:click.prevent="debugModel" class="dropdown-item" tabindex="-1"><i class="ico ico-database"></i> @localizer.Localize(null, "@[DataModel]")</a>
				<a v-on:click.prevent="debugTrace" class="dropdown-item" tabindex="-1"><i class="ico ico-chart-stacked-line"></i> @localizer.Localize(null, "@[Profiling]")</a>
				<div class="divider"></div>
				<label class="checkbox">
					<input type="checkbox" v-model="traceEnabled" />
					<span>@localizer.Localize(null, "@[Tracing]")</span>
				</label>
			</div>
		</div>
	</footer>
</div>
